body {
  /* font-family: "Courier New", Courier, monospace; */
  font-family: Lora; 
  margin: auto;
  max-width: 1280px;
  background-color: black;
  color: white;
  text-align: left;
}

a{
  color: #ff8080;
  background-color: transparent;
  text-decoration: underline;
}

h2{color: #ff8080;}

/* a:visited {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
} */
/* .navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
} */

